<app-header titulo="Registro"></app-header>
<ion-card class="auth-form" class="formInit">
  <ion-card-header>
    <ion-img src="/assets/img/logo.png"></ion-img>
    <ion-card-title>Registro</ion-card-title>
  </ion-card-header>

  <ion-card-content >
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>

      <ion-item *ngIf="email.invalid && email.touched" lines="none">
        <ion-text color="danger" class="form-error">
          Por favor ingresa un correo valido
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item *ngIf="password.invalid && password.touched" lines="none">
        <ion-text color="danger" class="form-error">
          La contraseña es requerida
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirmación de contraseña</ion-label>
        <ion-input type="password" formControlName="confirmPassword"></ion-input>
      </ion-item>
      <ion-item *ngIf="form.hasError('notEqual') && confirmPassword.touched" lines="none">
        <ion-text color="danger" class="form-error">
          Las contraseñas no son iguales
        </ion-text>
      </ion-item>

      <ion-button type="submit" expand="block" [disabled]="loading || !form.valid">
        {{ loading ? 'Cargando...' : 'Registro'}}
      </ion-button>
    </form>

    <ion-text class="extra-options">
     ¿Ya tienes una cuenta?
      <a [routerLink]="['/login']">Ingresa</a>
    </ion-text>
  </ion-card-content>
</ion-card>